.section.container-fluid {
 
 	border: 1px solid black;
 	background-color: blue;
 	height: 1000px;
 	margin:30px;
 }
 
 .body {
 	margin: 0px;
 }
 #navbar-collapse {
     vertical-align: middle;
 }
#navbar-collapse.collapse {
    display: block;
    height: auto;
    padding-bottom: 0;
    overflow: visible;
}
.navbar-header .button.navbar-toggle, .navbar-header .icon-bar {
     border: 2px solid black;
     top: 3px;
     position: static;
 }
 .navbar-toggle {
     position: relative;
     float: right;
     padding: 9px 10px;
     margin-top: 8px;
     margin-right: 15px;
     margin-bottom: 8px;
     border: 1px solid black;
     border-radius: 4px;
 }
.collapse {
    display: none;
}
 .button {
     overflow: visible;
     margin: 0;
     font: inherit;
     color: inherit;
 }
 .visible-xs {
    display: block;
  
}
.li {
    border: 1px solid black;
 float: left;
 position: relative;
}

 @media (max-width: 767px) {
 .colored {
 {
 	background-color: green;
   }
 }
